<div class="col-md-4">

  <!-- Modal -->
  <%#= render :partial => 'descarga_taxa' %>

  <!--button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#myModal">
    Descargar &nbsp;<span class="glyphicon glyphicon-save"></span>
  </button-->

  <%= link_to "Carga más <span class='glyphicon glyphicon-plus'></span>".html_safe, '', id: 'carga_mas_especies', class: 'btn btn-link btn-xs' %>

</div>

<div class="panel-resultados col-xs-12" id="contenedor_especies"></div>
